@model List<Tuple<Book, float>>

<h1>Рекомендации</h1>

<table class="table">
    <thead>
        <tr>
            <th>Название книги</th>
            <th>Автор</th>
            <th>Год публикации</th>
            <th>Издатель</th>
            <th>Предсказанный рейтинг</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rec in Model)
        {
            <tr>
                <td>@rec.Item1.BookTitle</td>
                <td>@rec.Item1.BookAuthor</td>
                <td>@rec.Item1.YearOfPublication</td>
                <td>@rec.Item1.Publisher</td>
                <td>@rec.Item2.ToString("F2")</td>
            </tr>
        }
    </tbody>
</table>


<a href="/" class="btn btn-primary">Домой</a>
